<div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="form">
          <h1>Update your <%= @menu.name %> menu</h1>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
