<h1> See our menu </h1>

<div class="container padded">
  <div class="row">
    <% @menus.each do |menu| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <h2> <%= link_to menu.name, menu_path(menu.id) %> </h2>
          <div class="card-category">
            <p> Type of cuisine <%= menu.category %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
