<h1 class="text-center"> See our Menu's</h1>

<%= @search_params %>

<div class="container">
  <div class="row">
    <% @selected_menus.each do |m| %>
    <div class="col-xs-12 col-sm-4">
        <%= render "card", menu: m %>
    </div>
    <% end %>
  </div>
</div>
