<h1>User Profile</h1>

<p>Name: <%= "#{@user.first_name} #{@user.last_name}" %></p>
<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.postal_address %></p>
<p>Description: <%= @user.description %></p>
