<div class="wrapper-profile padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <%= image_tag 'lbreen_profile.jpg', { class: "img-circle avatar-xl"} %>
        <h2>Luke Breen</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <%= image_tag 'max_profile.jpg', { class: "img-circle avatar-xl"} %>
        <h2>Max Philips</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <%= image_tag 'disha_profile.jpg', { class: "img-circle avatar-xl"} %>
        <h2>Disha Patel</h2>
      </div>
    </div>
  </div>
</div>

<div class="form-wrapper padded">
  <h1>About us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, corporis modi. Aperiam sit deleniti reiciendis minima voluptatibus magnam voluptas dolorum quidem magni! Eaque ex quo corporis nulla, quia ratione error!</p>
</div>
