.wrapper-user {
  background-color: $gray-lighter;
  min-height: 100vh;
  padding: 30px 0;
}

.user-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px $gray-light;
  padding: 20px;
  margin: 10px;
  h2 {
    margin: 10px 0;
  }
}

.user-card-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-card-photo {
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 40px;
}

.user-card-details {
  min-height: 180px;
  flex: 1 0 auto;
  h2 {
    text-align: text-center;
  }
}

.user-card-edit {
  width: 100%;
  margin-top: 10px;
}

.user-card-menu {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  img {
    flex: 0 0 auto;
  }
  a {
    flex: 1 0 auto;
    margin: 0 0 0 20px;
    text-decoration: none;
  }
  #menu-edit-btn {
    flex: 0 0 auto;
  }
}


